@import url('https://fonts.googleapis.com/css2?family=Dosis:wght@400;500;600;700&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200..1000;1,200..1000&display=swap');

$font-family-nunito: "Nunito", sans-serif;

$bg-white:#FFFFFF;
$bg-black:#000000;
$bg-g:#0F1113;
$bg-gray:#707070;
$bg-nav-collapse:#191a1a;
$primary-color: #4BD5FF;
// $primary-color: #ffbd59;
$text-color: #bebebe;
$title-color:#fff;
